@import 'componentes/normalize';

@import 'celulas/header';
@import 'celulas/body';
@import 'celulas/footer';

*{
    box-sizing: border-box;
}

.container{
	margin: 0 auto;
	width: 80%;
}

img {
 max-width: 100%;
}