# Dependency directories
node_modules
bower_components

# Directories
build

# Optional npm cache directory
.npm
.tmp
.sass-cache

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock