@import '../helpers/fonts';
@import '../helpers/variaveis';
@import '../helpers/extends';

main{
	section{
		    width: 100%;
		h2{
		    font-weight: bold;
			text-transform: uppercase;
			@extend .font-strong;
			font-size: 2.5em;
		}

		button{
			margin-top: 30px;
			display: block;
			border: solid 2px $azul-secundario;
			border-radius: 1.5em;
			background-color: white; 
			color: $azul-secundario;
			text-transform: uppercase;
			font-family: $font;
			font-size: 0.9em;
		    font-weight: bold;
			padding: 10px;
			min-width: 120px;
			@media #{$tablet}{
				margin: 30px auto;
			}
		}
	}

	.container{
		padding: 90px 0;
		position: relative;
	}	

	#inicio{
		height: 450px;
		position: relative;
		.title{
			float: left;
			text-align: center;
			color: white;
			position: absolute;
		    width: 100%;
		    bottom: 20%;
		    h1{
		    	@extend .font-ligth;
		    	font-size: 3.5em;
		    }
		}
	}

	#sobre{
		@media #{$tablet}{
    				
		}	
        height: 400px;
		h2{
			float: left;
			width: 30%;
    		@media #{$tablet}{
    			width: 100%;
				display: block;
				margin: 0 auto;
				text-align: center;
    		}
			&:before{
				content: "{ ";
				color: $azul;
			}
			&:after{
				content: " }";
				color: $azul;
			}
		}
		article{
			float: right;
			width: 60%;
			@media #{$tablet}{
				float: left;
				width: 100%;
				display: block;
				margin: 0;
				padding: 15px;
				text-align: center;
			}
		}

	}

	#contato{
		height: 460px;
		background-color: $azul;

		h2{
			float: right;
			width: 50%;
		    position: absolute;
			top: 70%;
			right: 0;
			&:before{
				content: "{ ";
				color: white;
			}
			&:after{
				content: " }";
				color: white;
			}
		}
		
		form{
			float: left;
			width: 50%;
			
			.field{
				padding: 10px 0;
			}

			label{
	    		float: left;
    			width: 20%;
			}
			
			input{
				height: 1.5em;
			}

			input, textarea{
				width: 70%;
				border: solid 1px $azul;
			}
			button{
				float: right;
				margin: 30px 50px 0 0;  
			}
		}
	}

	article{
		@extend .font-ligth;
	}
}

.banner-top{
	background: url(../img/code_landscape.jpg) center no-repeat; 
	background-size: cover;
	background-attachment: fixed;
}