@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: 80%; }

img {
  max-width: 100%; }

.font-ligth, header .logo, nav ul li a, main #inicio .title h1, main article {
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

.font-strong, strong, main section h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.font-ligth, header .logo, nav ul li a, main #inicio .title h1, main article {
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

.font-strong, strong, main section h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

/* menu fixo */
header {
  float: left;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 80px;
  padding-top: 15px;
  transition: all 0.3s linear; }
  header .logo {
    float: left;
    padding: 10px;
    font-size: 1.25em; }
    header .logo a {
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
      header .logo a:before {
        content: "{ "; }
      header .logo a:after {
        content: " }"; }

.fixed {
  padding: 0;
  background-color: #000;
  opacity: 0.8; }

/* menu */
nav {
  float: right;
  padding: 10px;
  height: 80px; }
  @media (max-width: 700px) {
    nav {
      width: auto;
      overflow: hidden;
      position: fixed;
      background: #0a0a0a;
      z-index: 9999;
      right: -120px;
      top: 80px;
      height: auto;
      padding: 0 20px 20px 20px; } }
  @media (max-width: 700px) {
    nav ul {
      float: right;
      margin-top: 10px;
      padding: 0; } }
  nav ul li {
    display: inline-block;
    padding: 0 40px 0 0; }
    @media (max-width: 700px) {
      nav ul li {
        display: block;
        margin: 0px;
        min-width: 80px;
        padding-right: 0; }
        nav ul li:last-child {
          margin: 0px;
          min-width: 80px; }
        nav ul li .active {
          color: white; }
          nav ul li .active:after {
            background-color: none; } }
    nav ul li a {
      font-size: 1em;
      font-weight: bold;
      color: white;
      text-decoration: none; }
      nav ul li a:hover {
        color: #9DC5BB; }
        nav ul li a:hover:after {
          background-color: #9DC5BB;
          width: 60%; }
      nav ul li a:after {
        content: "";
        display: table;
        margin: 5px auto 0;
        width: 30%;
        height: 2px;
        background-color: white;
        transition: all 0.3s linear; }
      @media (max-width: 700px) {
        nav ul li a {
          border-bottom: 2px solid #9DC5BB;
          padding: 8px 10px;
          max-width: 150px;
          display: block;
          text-decoration: none; }
          nav ul li a:hover:after {
            width: 60%; }
          nav ul li a:after {
            display: none;
            padding: 8px 10px;
            max-width: 150px; } }
    nav ul li:last-child {
      padding: 0; }
    nav ul li .active {
      color: #9DC5BB; }
      nav ul li .active:after {
        background-color: #9DC5BB;
        width: 60%; }

@media (max-width: 700px) {
  html, body {
    font-size: 14px; }
  .hamburger-icon {
    margin-top: 20px;
    width: 36px;
    height: 36px;
    display: block;
    border-top: 4px solid #fff;
    float: right;
    position: relative;
    cursor: pointer;
    box-sizing: border-box; } }
  @media not all and (max-width: 700px) and (max-width: 700px) {
    .hamburger-icon {
      display: none; } }

@media (max-width: 700px) {
  .hamburger-icon::after, .hamburger-icon::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 6px;
    background: #fff;
    position: relative;
    transition: transform .2s ease; }
  .hamburger-icon.active::after {
    top: 2px;
    transform: rotate(45deg); }
  .hamburger-icon.active::before {
    top: 6px;
    transform: rotate(135deg); }
  .hamburger-icon.active {
    border-top: none; }
  .hamburger-icon.active::after, .hamburger-icon.active::before {
    margin-top: 0px; }
  nav.active {
    right: 0px; } }

.font-ligth, header .logo, nav ul li a, main #inicio .title h1, main article {
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

.font-strong, strong, main section h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

main section {
  width: 100%; }
  main section h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5em; }
  main section button {
    margin-top: 30px;
    display: block;
    border: solid 2px #17B890;
    border-radius: 1.5em;
    background-color: white;
    color: #17B890;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    padding: 10px;
    min-width: 120px; }
    @media (max-width: 700px) {
      main section button {
        margin: 30px auto; } }

main .container {
  padding: 90px 0;
  position: relative; }

main #inicio {
  height: 450px;
  position: relative; }
  main #inicio .title {
    float: left;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 20%; }
    main #inicio .title h1 {
      font-size: 3.5em; }

main #sobre {
  height: 400px; }
  main #sobre h2 {
    float: left;
    width: 30%; }
    @media (max-width: 700px) {
      main #sobre h2 {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center; } }
    main #sobre h2:before {
      content: "{ ";
      color: #9DC5BB; }
    main #sobre h2:after {
      content: " }";
      color: #9DC5BB; }
  main #sobre article {
    float: right;
    width: 60%; }
    @media (max-width: 700px) {
      main #sobre article {
        float: left;
        width: 100%;
        display: block;
        margin: 0;
        padding: 15px;
        text-align: center; } }

main #contato {
  height: 460px;
  background-color: #9DC5BB; }
  main #contato h2 {
    float: right;
    width: 50%;
    position: absolute;
    top: 70%;
    right: 0; }
    main #contato h2:before {
      content: "{ ";
      color: white; }
    main #contato h2:after {
      content: " }";
      color: white; }
  main #contato form {
    float: left;
    width: 50%; }
    main #contato form .field {
      padding: 10px 0; }
    main #contato form label {
      float: left;
      width: 20%; }
    main #contato form input {
      height: 1.5em; }
    main #contato form input, main #contato form textarea {
      width: 70%;
      border: solid 1px #9DC5BB; }
    main #contato form button {
      float: right;
      margin: 30px 50px 0 0; }

.banner-top {
  background: url(../img/code_landscape.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed; }

footer {
  background-color: black;
  box-sizing: border-box;
  margin: 0 auto; }
  footer ul {
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center; }
    footer ul li {
      display: inline-block; }
  footer p {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px; }

.facebook, .github, .linkedin {
  background: url(../img/sprites.png) no-repeat; }

.facebook {
  background-position: -64px 0;
  width: 32px;
  height: 32px; }

.github {
  background-position: -32px 0;
  width: 32px;
  height: 32px; }

.linkedin {
  background-position: 0 0;
  width: 32px;
  height: 32px; }
