main{
	section{
		    width: 100%;
		h2{
		    font-weight: bold;
			text-transform: uppercase;
			@extend .font-strong;
			font-size: 2.5em;
		}

		button{
			margin-top: 30px;
			display: block;
			border: solid 2px $azul-secundario;
			border-radius: 1.5em;
			background-color: white; 
			color: $azul-secundario;
			text-transform: uppercase;
			font-family: $font;
			font-size: 0.9em;
		    font-weight: bold;
			padding: 10px;
			min-width: 120px;
		}
	}

	.container{
		padding: 80px 0;
	}	

	#sobre{
		h2{
			float: left;
			width: 30%;
		    position: absolute;
    		top: 40%;
			&:before{
				content: "{ ";
				color: $azul;
			}
			&:after{
				content: " }";
				color: $azul;
			}
		}
		article{
			float: right;
			width: 60%;
		}

		.container{
		    height: 335px;
		    position: relative;
		}
	}

	#contato{
		background-color: $azul;
		h2{
			float: right;
			width: 50%;
		    position: absolute;
			top: 30%;
			right: 0;
			&:before{
				content: "{ ";
				color: white;
			}
			&:after{
				content: " }";
				color: white;
			}
		}
		
		form{
			float: left;
			width: 50%;
			
			.field{
				padding: 10px 0;
			}

			label{
	    		float: left;
    			width: 20%;
			}
			
			input{
				height: 1.5em;
			}

			input, textarea{
				width: 70%;
				border: solid 1px $azul;
			}
			button{
				float: right;
				margin: 30px 50px 0 0;  
			}
		}

		.container{
			height: 430px;
			position: relative;
		}
	}

	article{
		@extend .font-ligth;
	}
}
