.fixed{
	display: none;
}

.top{
	padding-top: 15px;
}

header{
	height: 447px;
	position: relative;


	.logo{
		float: left;
		padding: 20px;
		font-size: 1.25em;
		a{
			color: white;
			text-decoration: none;
			text-transform: uppercase;
			&:before{
				content: "{ ";
			}
			&:after{
				content: " }";
			}
		}
	}

	nav{
		float: right;
		ul{
			padding: 20px;
			li{
				display: inline-block;
				padding: 0 40px 0 0;
				a{	
					font-size: 1em;
					font-weight: bold;
					color: white;
					text-decoration: none;
					&:hover{
						color: $azul;
						&:after{
							background-color: $azul;
							width: 60%;
						}	
					}
					&:after{
						content: "";
						display: table;
						margin: 5px auto 0;
						width: 30%;
						height: 2px;
						background-color: white;
						-webkit-transition:all 0.3s linear;
						-moz-transition:all 0.3s linear; 
						-o-transition:all 0.3s linear;
						transition:all 0.3s linear;
					}
				}
				&:last-child{
					padding: 0;
				}
				
			}
		}
		
	}
	section{
		width: 100%;	
		display: block;
	}
	.title{
		float: left;
		text-align: center;
		color: white;
		position: absolute;
	    width: 80%;
	    bottom: 20%;
	    h1{
	    	font-size: 2.5em;
	    }
	}
}

.banner-top{
	background: url(../images/code_landscape.jpg) center no-repeat; 
	background-size: cover;
	background-attachment: fixed;
}
